:root {
    --base: #869981;  /* base */
    --base2: #42573f; 
    --primary: #546d4c;  /* Sage Green */
    --text: #191d18;  /* dark text */
    --light-text: #dddd; 
    --accent: #a0c0984d;  
    --accent2: #1b1b1b73;
    --highlight: #1d5020;  
    --shadow: #2f302f2c; 
}

body {
    background-color: var(--text);
    color: var(--light-text);
    font-family: Arial, sans-serif;
    text-align: center;
    display:grid;
}

body .background-image {
grid-row: 1fr;
}


ul {
    list-style-type: none;
}


h1 {
    font-family: 'Merriweather';
    color: var(--primary);
    font-size: 62px;
    text-shadow: 0px 2px 2px var(--text);
}

h2 {
    font-family: 'Merriweather';
    font-size: 32px;
    color: var(--accent);
    text-shadow: 2px 2px var(--text);
    text-align: center;
    
}


h3 {
    font-family: 'Merriweather';
    font-size: 26px;
}


p {
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titles {
    padding-top: 15px;
    padding-bottom: 15px;
}

header {
    background-image:url("/images/header2.jpg");
    background-position:center; 
    background-size:fill;
    background-blend-mode:luminosity;
    box-shadow: 2px 2px var(--accent2);
    grid-template-columns: 1fr, 1fr;
    padding-bottom: 20px;
    min-width: fit-content;
    min-height: fit-content;
}

.background-image {
    
    display:flex;
    justify-content: center;
}


.logo1 {
    padding-top: 7vh;
}

#about {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    max-width: 70%; 
    margin-top: 10px;
    font-weight: lighter;
    color: var(--light-text);
    box-shadow: 0px 0px 5px rgba(8, 12, 8, 0.5),
}

nav {
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    width: 100%;
}

nav .background-image {
    object-fit: fill;
}

nav ul {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;

}

nav ul li {
    display: inline;
    justify-content: space-between;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

nav ul li a {
    font-family: "Merriweather";
    color: var(--primary);
    text-shadow: 0px 2px 2px var(--text);
    font-weight: "bold";
    font-size: 32px;
    padding: 10px;
}


button {
    background: none;
    display: inline-block;
    padding: 12px 12px;
    margin: 6px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--base);
    border: 2px solid var(--base2);
    border-radius: 7px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px var(--shadow)(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
}




i {
    color: var(--primary);
}


.isection {
    grid-row: auto;
    padding-left: 20%;
    padding-right: 20%;
}

#menu-container {
    display: none;
    margin-top: -10px;
}


.menu-item {
    background: var(--primary);
    padding: 15px;
    margin: 10px auto;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description {
    display: none;
    color: var(--text);
}

.buffet-info {
    display:none;
    list-style-type: none;
}


#contact-form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    max-width: 400px; 
    margin: 0 auto;
}

footer {
    background-image: url(/images/vector.png);
    background-repeat: no-repeat;
    background-position:center; 
    background-color: var(--accent2);
    color: var(--highlight);
    padding-top: 8vh;
    margin-top: 20px;
    padding-bottom: 20vh;
    display: grid;
    flex-direction: row;
    gap: 5px;
    object-fit:cover;
    min-width:auto;
    min-height: max-content;
}

@media  screen and (max-width: 750px) {

h1 {
    font-size: 48px;
    max-width: 150px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
font-size: 16px;
}

.background-image {
object-fit:contain;
}
}

@media  screen and (max-width: 480px) {

}